
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    .topNavBar {
        height: 64px;
        background: #858282;
    }
    .body-container {
        display: flex;
        height: 100%;
        .sideNavBar {
            width: 200px;
            height: 100%;
            background-color: #959191;
        }
        .main {
            flex: 1;
            text-align: center;
            padding: 6px 12px;
        }
    }
}
ul {
    list-style: none;
}
* {
    box-sizing: border-box;
}
